@font-face {
    font-family: Nunito;
    src: url("../assets/fonts/Nunito-VariableFont_wght.woff2") format("woff2"),
        url("../assets/fonts/Nunito-VariableFont_wght.woff") format("woff"),
        url("../assets/fonts/Nunito-VariableFont_wght.ttf") format("ttf");
}

:root {
    --header-bg: #153347;
    --header-font: #E4E6D4;
    --main-bg: #232426;
    --main-font: #E2DCDE;
    --main-font-shadow: rgba(0, 0, 0, 0.911);
    --item-shadow: rgba(22, 41, 59, 0.421);
}

*,
::before,
::after {
    box-sizing: border-box;
}

.responsive-font-size {
    width: clamp(45ch, 50%, 75ch);
}

html {
    font-family:
        system-ui,
        'Segoe UI',
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji';
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    min-width: 100dvw;
    height: 100%;
    overflow: auto;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: #61dc75;
}

a:visited {
    color: #c988f7;
}

input:invalid {
    background: rgba(255, 0, 0, 0.205);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 700px;
}

header {
    background: var(--header-bg);
    color: var(--header-font);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3%;
    z-index: 9;
}

main {
    background: black;
    background-image: url("../assets/kalen-emsley-Bkci_8qcdvQ-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    min-height: 100dvh;
    width: 100%;
    max-height: fit-content;
    padding: 2% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer {
    color: var(--header-font);
    background: var(--header-bg);
    width: 100%;
    height: fit-content;
    z-index: 10;
}

#header-logo {
    height: 40px;
    transition: transform 120ms;
}

#header-logo:hover {
    transform: scale(1.04);
}

#nav-ul {
    list-style: none;
}

#nav-ul li {
    list-style: none;
}

.nav-link {
    max-height: 30px;
    transition: transform 120ms;
}

.nav-link:hover {
    transform: scale(1.1);
}

#login-form {
    outline: 1px solid red;
    width: clamp(700px, 60%, 1200px);
    height: fit-content;
    margin: 5% 0;
    padding: 20px 5px 50px 5px;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(40px);
    color: var(--main-font);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0 0 1.2rem var(--main-font-shadow) !important;
    /* Important is tagged to overwrite possible readability assistant */
    border-radius: 5px;
    background: #3b3b3b34;
}

#login-form h1 {
    font-size: 2rem;
    padding: 10px 20px;
    text-shadow: inherit;
    margin-bottom: 0;
}

#form-container {
    outline: 1px solid green;
    padding: 10px;
    max-width: 600px;
    /* 300px = grid-item, 520px two grid-items, 90% of the container width */
    height: min(fit-content, 40%);
}

#form {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* Adjusted to minmax */
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.grid-item {
    padding: 5px;
    margin-bottom: 10px;
    min-width: 300px;
}

.form-legend {
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.911);
    margin-bottom: 5px;
    margin-left: 10px;
}

.form-input {
    width: 100%;
    border-radius: 6px;
    border: 1px solid var(--main-font);
    padding: 5px 8px;
    background: rgba(74, 67, 67, 0.284);
    color: var(--main-font);
    font-weight: 600;
    font-size: 1rem;
    box-shadow: 2px 5px 10px var(--item-shadow);
    text-shadow: 0 0 3px var(--main-font-shadow);
    margin-bottom: 5px;
}

.input-small {
    width: 90%;
    min-height: 20px;
    margin-left: 10px;
    text-shadow: 0 0 3px var(--main-font-shadow);
}

.form-input::placeholder {
    color: rgb(197, 197, 197);
}

.form-input:focus {
    transform: scale(1.05);
    outline: 2px solid #e3b261;
    background: white;
    color: rgb(32, 32, 32);
    text-shadow: none;
}

#submit-grid-box {
    padding: 20px 10px;
    justify-self: center;
    grid-column: span 2;
    /*Uses @media to span to a single column when the width is lower than 900px*/
}

#submit-btn {
    font-size: 1.1rem;
    padding: 10px 20px;
    font-weight: 500;
    background: #2f5a28;
    box-shadow: 2px 2px 10px var(--item-shadow);
    border-radius: 5px;
    color: white;
    border: none;
}

#odin-outline-logo {
    background: -moz-radial-gradient(circle, rgba(1, 0, 11, 1) 7%, rgba(45, 51, 69, 0) 100%);
    background: -webkit-radial-gradient(circle, rgba(1, 0, 11, 1) 7%, rgba(45, 51, 69, 0) 100%);
    background: radial-gradient(circle, rgba(1, 0, 11, 1) 7%, rgba(45, 51, 69, 0) 100%);
}

.block {
    display: block;
}
.center-aligned {
    text-align: center;
}

@media screen and (max-width: 780px) {
    #submit-grid-box {
        grid-column: span 1;
        /* Change to span 1 for smaller screens */
    }
}