@font-face {
    font-family: Nunito;
    src: url("../assets/fonts/Nunito-VariableFont_wght.woff2") format("woff2"),
        url("../assets/fonts/Nunito-VariableFont_wght.woff") format("woff"),
        url("../assets/fonts/Nunito-VariableFont_wght.ttf") format("ttf");
}

:root {
    --header-bg: #153347;
    --header-font: #E4E6D4;
    --main-bg: #232426;
    --main-font: #E2DCDE;
    --main-font-shadow: rgb(19, 38, 57);
}

*,
::before,
::after {
    box-sizing: border-box;
}

.responsive-font-size {
    width: clamp(45ch, 50%, 75ch);
}

html {
    font-family:
        system-ui,
        'Segoe UI',
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji';
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    width: 100dvw;
}

header {
    background: var(--header-bg);
    color: var(--header-font);
    width: 100%;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 3%;
    z-index: 9;
}

main {
    background: black;
    background-image: url("../assets/kalen-emsley-Bkci_8qcdvQ-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    width: 100%;
    min-height: 100dvh;
    max-height: fit-content;
    padding: 2% 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

footer {
    color: var(--header-font);
    background: var(--header-bg);
    width: 100%;
    height: fit-content;
    z-index: 10;
}

#header-logo {
    height: 50px;
    transition: transform 120ms;
}

#header-logo:hover {
    transform: scale(1.04);
}

#nav-ul {
    list-style: none;
}

#nav-ul li {
    list-style: none;
}

.nav-link {
    max-height: 40px;
    transition: transform 120ms;
}

.nav-link:hover {
    transform: scale(1.1);
}

#login-form {
    width: clamp(400px, 60%, 90%);
    height: clamp(400px, 60dvh, 90dvh);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    color: var(--main-font);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0 0 1.2rem var(--main-font-shadow);
}

#login-form h1 {
    font-size: 2rem;
    padding: 10px 20px;
}

#form-container {
    outline: 1px solid red;
    padding: 10px;
    width: 60%;
    height: 40%;
}
#form {
    padding: 10px;
    outline: 1px solid green;   
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    align-items: center;
    justify-content: space-evenly;
}
.grid-item {
    outline: 1px solid blue;
    padding: 5px;
}
.form-legend {
    margin-bottom: 5px;
}
.form-input {
    width: 100%;
}
.block {
    display: block;
}